html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

/*landing page definitions for the default screen size*/
#LandingPage{
	background: #222;
}
.LandingPage{
	height: 590px;
	
}
.LandingPage .LanginPageLeft{
	padding-top: 120px;
	color: #fff;
}












footer{
	background-color: #222;	
}
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	color: #888;
}