#aboutus{
	margin-top: 50px;
	background-image: url("/img/netballteam.jpg");
	height: 400px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	.starter-template {
		color: #fff;
		padding-top: 100px;
		text-align: center;
		}
}
.aboutus{
		margin-bottom: 100px;
	}

.aboutusDonate{
	color: #fff;
	margin-top: 50px;
	background-image: url("/img/netballteam.jpg");
	height: 300px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}