#whoweare{
	margin-top: 60px;
	margin-bottom: 100px;
	.sidebar {
		position: sticky; /* I am the fallback */

	    /* Give it everything you got! (use an auto prefixer...) */
	    position: -webkit-sticky;
	    position: -moz-sticky;
	    position: -ms-sticky;
	    position: -o-sticky;
	    position: sticky;

	    top: 0; /* Required  */
		}
	.main-content{
		position: relative;
	}
}