
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//whoweare page styles
@import "whoweare"

//this the beginning of my css
html {
	position:relative;
  	min-height: 100%;
}
/*the navigation bar*/
#begin {
    background: #eeeedd;
    height: 50px;
    div{
    	ul{
    		li{
    			a{
    				color: 	#333333;
    			}
    		}
    }
    }
}
//hover on nav
#begin {
    background: #eeeedd;
    div{
    	ul{
    		li:hover{
    				background: rgba(68,51,85, .9);
    				a{
    					color: #eeeedd;
    				}
    			}
    		}
    }
}
/*landing page definitions for the default screen size*/
#LandingPage{
	background-image: url("/img/netballteam.jpg");
	height: 700px;

	.LanginPageLeft{
	padding-top: 200px;
	color: #fff;
	}
}
/*---------------------######--------------------------------*/
#LandingPageSimpleIntro{
	min-height: 100px;
	padding-top: 50px;
}
//footer
footer{
	background-color: #eeeedd;	
	div{
		ul{
			li{
				a{
					color: #999999;
					i{
						color: #999999;
					}
				}
			}
		}
	}
}
#whoweare{
	#sticky-sidebar {
		position:fixed;
		max-width: 20%;
		}
	}
/*--------------------------*/
#missionSection{
	margin-bottom: 50px;
}
/*-----------homepage video-----*/
#homepageVid{
	padding-bottom: 150px;
	.right{
		padding: 50px;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: 	#333333;
}